{% extends 'DPBCoreDevBundle:Dev/Layout:default.html.twig' %}

{% block def_title 'Tags / Dependency Injection / Framework' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="span12">
                <h1>Tags</h1>

                <ul class="breadcrumb">
                    <li><a href="{{ path('dpb_coredev_index_index') }}">Dev</a> <span class="divider">/</span></li>
                    <li><a href="{{ path('dpb_coredev_index_index') }}">Bundle</a> <span class="divider">/</span></li>
                    <li><a href="{{ path('dpb_coredev_bundle_index', { 'bundle' : 'framework' }) }}">Framework</a> <span class="divider">/</span></li>
                    <li><a href="#">Dependency Injection</a> <span class="divider">/</span></li>
                    <li>Tags</li>
                </ul>
            </div>
        </div>

        <div class="row">
            <div class="span12">
                <ul class="nav nav-pills">
                    {% for key, count in jump %}
                        <li{% if 0 == count %} class="disabled"{% endif %}><a href="#jump-{{ key }}">{{ key }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>

        <div class="row">
            <div class="span12">
                <table class="table">
                    <tbody>
                        {% for tag, services in data %}
                            <tr>
                                <td>
                                    <a name="jump-{{ tag|slice(0, 1)|upper }}"></a>
                                    <a name="{{ tag }}"></a>
                                    <code><a href="{{ path('dpb_coredev_devframework_ditag_index', { 'tag' : tag }) }}">{{ tag }}</a></code>
                                </td>
                                <td style="text-align:right;">
                                    <span class="muted">{{ services|length }} service{% if services|length != 1 %}s{% endif %}</span>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
